/**
 * =================================================================== 
 *
 *  ResumeTemplate v1.0 ClearCareer
 *  url: clearcareer.ca
 *  Design by: Iskender Piyale-Sheard
 *  website: izzydoesizzy.com
 *  Created 06-27-2016
 *  Last Updated: 03-19-2017
 *  ------------------------------------------------------------------
 *  Table of Contents:

 *  01. Global Styles
 *  02. Intro
 *  03. Social Icons
 *  04. Icon Fonts
 *  05. Section Styles
 *  06. Timeline Styles
 *  05. Footer
 EXTRAS

 * =================================================================== 
 */

/* 01. Basic Styles
 * =================================================================== */

.idiomas_CV{
   text-align: right;
   
    color : white;
 
   
}

 html {
    overflow-x: hidden;
 }
 body {
    font-family: 'Source Sans Pro', sans-serif;
 }

 h1 {
    font-weight: bold;
 }

 .acerca_de_mi {
    text-align: center;
    font-weight: bolder;
 }
 
 .lead {
    margin-right: 20px;;
    margin-left: 20px;
 }

 h5 {
    font-weight: 600;
 }

 a {
    cursor: pointer;
    color: #1abc9c;
    text-decoration: none;
 }

 a:hover {
    text-decoration:none;
    color: #1abc9c;
    opacity: 0.9;
 }

 hr {
    border-top: 5px solid #1abc9c;
    width: 80px;
    padding-bottom: 20px;
 }


 .colour-splash {
    color: #1abc9c;
 }

 .section-primary span {
    color: #1abc9c;
    font-weight: bolder;
    opacity: 1;
 }


 # Header
 --------------------------------------------------------------*/
 #header {
   height: 80px;
   transition: all 0.5s;
   z-index: 997;
   transition: all 0.5s;
 }
 
 #header.header-scrolled {
   background: rgba(39, 70, 133, 0.8);
   height: 60px;
 }
 
 #header .logo h1 {
   font-size: 28px;
   margin: 0;
   padding: 4px 0;
   line-height: 1;
   font-weight: 500;
 }
 
 #header .logo h1 a,
 #header .logo h1 a:hover {
   color: #fff;
   text-decoration: none;
 }
 
 #header .logo img {
   padding: 0;
   margin: 0;
   max-height: 40px;
 }
 
 /*--------------------------------------------------------------
 # Navigation Menu
 --------------------------------------------------------------*/
 /**
 * Desktop Navigation 
 */
 .navbar {
    float: none;
    display: inline-block;

 }
 
 .navbar ul {
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
   align-items: center;
 }
 
 .navbar li {
   position: relative;
 
   
 }
 
 .navbar a,
 .navbar a:focus {
   display: flex;
   align-items:center;
   justify-content: space-between;
   padding: 10px 0 10px 30px;
   font-size: 16px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.65);
   white-space: nowrap;
   transition: 0.3s;
 }
 
 .navbar a i,
 .navbar a:focus i {
   font-size: 12px;
   line-height: 0;
   margin-left: 5px;
 }
 
 .navbar a:hover,
 .navbar .active,
 .navbar .active:focus,
 .navbar li:hover>a {
   color: #fff;
 }
 
 .navbar .dropdown ul {
   display: block;
   position: absolute;
   left: 14px;
   top: calc(100% + 30px);
   margin: 0;
   padding: 10px 0;
   z-index: 99;
   opacity: 0;
   visibility: hidden;
   background: #fff;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
   transition: 0.3s;
   border-radius: 4px;
 }
 
 .navbar .dropdown ul li {
   min-width: 200px;
 }
 
 .navbar .dropdown ul a {
   padding: 10px 20px;
   font-size: 15px;
   color: #101c36;
 }
 
 .navbar .dropdown ul a i {
   font-size: 12px;
 }
 



 .navbar .dropdown ul a:hover,
 .navbar .dropdown ul .active:hover,
 .navbar .dropdown ul li:hover>a {
   color: #2d71a1;
 }
 
 .navbar .dropdown:hover>ul {
   opacity: 1;
   top: 100%;
   visibility: visible;
 }
 
 .navbar .dropdown .dropdown ul {
   top: 0;
   left: calc(100% - 30px);
   visibility: hidden;
 }
 
 .navbar .dropdown .dropdown:hover>ul {
   opacity: 1;
   top: 0;
   left: 100%;
   visibility: visible;
 }
 
 @media (max-width: 1366px) {
   .navbar .dropdown .dropdown ul {
     left: -90%;
   }
 
   .navbar .dropdown .dropdown:hover>ul {
     left: -100%;
   }
 }




/* 02. Intro
 * =================================================================== */

 .section-image {
 	background: #151515 url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?dpr=2&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
    display:table;
 }

 .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .8;

 }

 .graycolor{
    -webkit-backdrop-filter: grayscale(100%);
    backdrop-filter: inherit;

 }

 .intro {
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    -webkit-transform: translateY(-2.1rem);
    -ms-transform: translateY(-2.1rem);
    transform: translateY(-2.1rem);
}

.intro .row {
    margin-right: 0;
    margin-left:0;
}

.intro h1 {
    font-size: 84px;
}

.intro h2 {
    color: #1abc9c;
    font-size: 2.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.section-image span {
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 0 10px;
    font-weight: 100;
}

.section-image h1 {
    margin-top: 0;
}

.section-image p {
    font-weight: lighter;
    opacity: 0.9;
}



/* 03. Social Icons
 * =================================================================== */

.social {
  margin: 0 10px;
  padding-top: 1.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

.social a {
  color: white;
  text-decoration:none;
  padding: 2em;
}

.social a:hover{
  opacity: 0.6;
}

.social-footer {
    position: block;
    padding: 15px;
}

.social-footer a {
    color: white;
    text-decoration: none;
    padding: 0.6em;
    font-size: 1.7em;
}


/* 04. Icon Font
 * =================================================================== */

 .lnr {
    font-size: 4em !important;
    color:#fff;
 }

/* 05. Section Styles
 * =================================================================== */

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.profilepic {
    height: 150px;
    width: auto;
    border-radius: 300px;
}

.section-primary p {
    text-align: justify;
}

.section-primary {
    border: #1abc9c;
}

.section-colour {
    background-color: #1abc9c;
    color: #fff;
}

.section-colour p {
    text-align: justify;
}

.section-heading .lead, .section-heading h2 {
    text-align: center;
}

.section-colour {
    border: #fff;
}

.section-colour hr {
    border-top: 5px solid #fff;
 }



/* 01. Timeline Styles
 * =================================================================== */

.timeline-icon .fa {
    color: white;
    margin: 14px;
    font-size: 1.7em;
}

.dede{

    font-size: 21px;
    text-align: center;

}

#educacion {
    background: #151515 url(/images/open-book-1428428_1280.jpg) ;
    height: auto;
}

#skills {
    background: #151515 url(/images/magic-cube-1976725_1280.jpg) ;
    height: auto;
}


/* 05. Footer
 * =================================================================== */

footer {
    display: block;
    position: static;
    bottom: 0;
    background-color: black;
    color: #fff;
    padding: 50px 0;

}

footer p {
    padding: 15px;
    opacity: 0.8;
}


/* EXTRAS
 * =================================================================== */



        /* Mouse Icon
         * =================================================================== */
        .mouse-icon {
            border: 2px solid #fff;
            border-radius: 16px;
            display: block;
            height: 50px;
            margin: 100px auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 30px;
            z-index: 10;
        }
        .mouse-icon .scroll {
            animation-delay: 0s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: scrolling;
            animation-play-state: running;
            animation-timing-function: linear;
        }
        .mouse-icon .scroll {
            background: #fff none repeat scroll 0 0;
            border-radius: 10px;
            height: 10px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            top: 4px;
            width: 4px;
        }
        @keyframes scrolling {
        0% {
            opacity: 0;
            top: 5px;
        }
        30% {
            opacity: 1;
            top: 10px;
        }
        100% {
            opacity: 0;
            top: 25px;
        }
        }

        .pad-xl {
            padding: 200px 0px;
        }

        .pad-lg {
            padding: 160px 0px;
        }

        .pad-sm {
            padding: 80px 0px;
        }

        .pad-xs {
            padding: 30px 0px;
        }

        /* /Mouse Icon
         * =================================================================== */

 
/* Media Queries
 * =================================================================== */

@media (max-width: 480px) {
    .social a {
        padding: 0.4em;
        font-size: 0.9em;
    }

    .social-footer {
        text-align: center;
        position:block;
        text-align: center;
    }

    .social-footer a {
        padding: 0.3em;
        font-size: 1.6em;

    }

    .intro-desc {
        font-size: 0.7em;
    }

    .section-image span {
        font-size: 1em;
        padding: 0 1px;

}

    .intro h1 {
        font-size: 50px;
        padding-top: 15px;
    }

    footer {
        text-align: center;
        padding-bottom: 100px;
    }

   

}

@media (max-width: 991px) {
    .social-footer {
        text-align: center;
    }

    footer p {
    text-align: center;
    }

}


